#box {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    font-size: 200px;
    background-color: antiquewhite;

    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px, 50px);
}